*.o
*.la
*.lo
*.tar.gz
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
doltcompile
doltlibtool
install-sh
libmill.pc
libtool
ltmain.sh
missing
test-suite.log
test-driver
tests/.dirstamp
tests/example
tests/go
tests/cls
tests/chan
tests/choose
tests/sleep
tests/fdwait
tests/tcp
tests/udp
tests/unix
tests/signals
tests/overload
tests/*.trs
tests/*.log
perf/.dirstamp
perf/go
perf/ctxswitch
perf/chan
perf/chs
perf/chr
perf/whispers
tutorial/.dirstamp
tutorial/step1
tutorial/step2
tutorial/step3
tutorial/step4
tutorial/step5
tutorial/step6
tutorial/step7
