aclocal.m4
autom4te.cache/*
compile
config.guess
config.sub
configure
depcomp
install-sh
missing
test-driver
.deps/*
.libs/*
Makefile
Makefile.in
config.h
config.log
config.status
doltcompile
doltlibtool
libtool
ltmain.sh
m4/*
libmill.pc
*.o
*.la
*.lo
tests/*.log
tests/*.trs
tests/.*
tests/go
tests/chan
