language: c

sudo: false

os:
  - osx
  - linux

branches:
  only:
    - master

install:
  - ./autogen.sh
  - ./configure
  - make

script:
  - make check

after_failure:
  - cat libmill/test-suite.log

notifications:
  email: false
